<div class="container">
  <h1>login</h1>
  <form action='/login' method="POST">
    <input name="email"></input>
    <input name="password"></input>
    <button type="submit">Login</button>
  </form>
  <p>{{message}}</p>
</div>
