<div class="container">
  <a href='/'>go home</a>
  <h1>{{username}}</h1>
  <h3>you have asked me {{questions}} questions</h3>
  <h3>you have told me {{words}} words</h3>
  <a href="/question">ask me a question</a> or
  <a href="/word">tell me a word</a>
</div>
