<div class="container">
  <h1>signup</h1>
  <form action='/signup' method="POST">
    <input name="email"></input>
    <input name="password"></input>
    <button type="submit">Sign Up</button>
  </form>
  <p>{{message}}</p>
</div>
