<div class="container">
  <h1>Tell Me A Word</h1>
  <form action="/word" method="POST">
    <input name="word"></input>
    <label>noun<input type="radio" name="wordType" value="noun"></label>
    <label>verb<input type="radio" name="wordType" value="verb"></label>
    <label>adverb<input type="radio" name="wordType" value="adverb"></label>
    <label>pronoun<input type="radio" name="wordType" value="pronoun"></label>
    <label>preposition<input type="radio" name="wordType" value="preposition"></label>
    <label>conjunction<input type="radio" name="wordType" value="conjunction"></label>
    <label>determiner<input type="radio" name="wordType" value="determiner"></label>
    <label>exclamation<input type="radio" name="wordType" vlaue="exclamation"></label>
    <button>Tell Word</button>
  </form>
</div>
